body {
  background-color: #cddeed;
  margin: 0; }

.header {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  border: 3px groove #abcdeb;
  background-image: url(/image/sky.jpg); }

.city {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  border: 3px groove #abcdeb; }
  .city .city_input {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 3px groove #abcdeb;
    background-color: #f3f7fb;
    padding: 5px; }
  .city #city_button {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    border: 3px groove #abcdeb;
    background-color: #f3f7fb; }

.params {
  float: left;
  background-color: #a8c5e0;
  margin-bottom: 2%;
  margin-right: 2%;
  height: 50px;
  font-family: sans-serif;
  font-size: 20px;
  width: 32%; }
  .params:nth-child(3n) {
    margin-right: 0; }
