$backColor: #cddeed
$searchTextSize: 20px
$secondBackColor: lighten($backColor, 10%)

@mixin font ($fontSize)
  font-family: sans-serif
  font-size: $fontSize
  font-weight: bold
  border: 3px groove #abcdeb

body
  background-color: $backColor

.header
  @include font(30px)
  background-image: url(/image/sky.jpg)

.city
  @include font($searchTextSize)

  .city_input
    @include font($searchTextSize)
    background-color: $secondBackColor
    padding: 5px

  #city_button
    @include font($searchTextSize)
    background-color: $secondBackColor
