$backColor: #cddeed
$searchTextSize: 20px
$secondBackColor: lighten($backColor, 10%)

@mixin font ($fontSize)
  font-family: sans-serif
  font-size: $fontSize
  font-weight: bold
  border: 3px groove #abcdeb

@mixin params ($fontSize, $cols, $margin)
  float: left
  background-color: darken($backColor, 10%)
  margin-bottom: $margin
  height: 50px
  font-family: sans-serif
  font-size: $fontSize
  border: 3px groove #abcdeb
  width: ((100% - (($cols - 1) * $margin)) / $cols)

body
  background-color: $backColor

.header
  @include font(30px)
  background-image: url(/image/sky.jpg)

.city
  @include font($searchTextSize)

  .city_input
    @include font($searchTextSize)
    background-color: $secondBackColor
    padding: 5px

  #city_button
    @include font($searchTextSize)
    background-color: $secondBackColor

.params
  @include params($searchTextSize, 3, 2%)
